[package]
name = "metrics-exporter-tcp"
version = "0.1.0"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"

license = "MIT"

description = "A metrics-compatible exporter that outputs metrics to clients over TCP."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics-exporter-tcp"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "telemetry", "tcp"]

[dependencies]
metrics = { version = "^0.14", path = "../metrics", features = ["std"] }
bytes = "1.0"
crossbeam-channel = "0.5"
prost = "0.7"
prost-types = "0.7"
mio = { version = "0.7", features = ["os-poll", "tcp"] }
tracing = "0.1"

[build-dependencies]
prost-build = "0.7"
built = "0.4"

[dev-dependencies]
quanta = "0.7"
tracing = "0.1"
tracing-subscriber = "0.2"
rand = "0.8"
