[package]
name = "metrics-observer"
version = "0.1.1-alpha.2"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"
publish = false

license = "MIT"

[dependencies]
metrics = { version = "^0.19", path = "../metrics", default-features = false }
metrics-util = { version = "^0.13", path = "../metrics-util", default-features = false, features = ["summary"] }
bytes = { version = "1", default-features = false }
crossbeam-channel = { version = "0.5", default-features = false, features = ["std"] }
prost = { version = "0.9", default-features = false }
prost-types = { version = "0.9", default-features = false }
tui = { version = "0.16", default-features = false, features = ["termion"] }
termion = { version = "1.5", default-features = false }
chrono = { version = "0.4", default-features = false, features = ["clock"] }

[build-dependencies]
prost-build = "0.9"
