[package]
name = "metrics-observer"
version = "0.3.0"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"
rust-version = "1.65.0"

license = "MIT"

description = "Text-based UI for metrics-exporter-tcp."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "facade", "macros"]

[dependencies]
metrics = { version = "^0.22", path = "../metrics", default-features = false }
metrics-util = { version = "^0.16", path = "../metrics-util", default-features = false, features = ["summary"] }
bytes = { version = "1", default-features = false }
crossbeam-channel = { version = "0.5", default-features = false, features = ["std"] }
prost = { version = "0.12", default-features = false }
prost-types = { version = "0.12", default-features = false }
tui = { version = "0.19", default-features = false, features = ["termion"] }
termion = { version = "2", default-features = false }
chrono = { version = "0.4", default-features = false, features = ["clock"] }

[build-dependencies]
prost-build = "0.12"
home = "=0.5.5"
