[package]
name = "metrics-observer"
version = "0.1.1-alpha.2"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"
publish = false

license = "MIT"

[dependencies]
getopts = "0.2"
bytes = "1.0"
crossbeam-channel = "0.5"
prost = "0.7"
prost-types = "0.7"
tui = "0.15"
termion = "1.5"
chrono = "0.4"
metrics = { version = "^0.17", path = "../metrics" }
metrics-util = { version = "^0.10", path = "../metrics-util" }

[build-dependencies]
prost-build = "0.8"
built = "0.4"
