[package]
name = "metrics-exporter-prometheus"
version = "0.7.0"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"

license = "MIT"

description = "A metrics-compatible exporter that serves a Prometheus scrape endpoint."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics-exporter-prometheus"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "telemetry", "prometheus"]

[features]
default = ["tokio-exporter"]
tokio-exporter = ["hyper", "ipnet", "tokio"]
push-gateway = ["reqwest", "tracing", "tokio-exporter"]

[dependencies]
metrics = { version = "^0.17", path = "../metrics" }
metrics-util = { version = "^0.10", path = "../metrics-util", default-features = false, features = ["recency", "registry", "summary"] }
parking_lot = { version = "0.11", default-features = false }
thiserror = { version = "1", default-features = false }
quanta = { version = "0.9.3", default-features = false }
indexmap = { version = "1", default-features = false }

# Optional
hyper = { version = "0.14", default-features = false, features = ["server", "tcp", "http1"], optional = true }
ipnet = { version = "2", optional = true }
tokio = { version = "1.0", features = ["rt", "net", "time", "macros"], optional = true }
reqwest = { version = "0.11.4", optional = true }
tracing = { version = "0.1.26", optional = true }

[dev-dependencies]
tracing = "0.1"
tracing-subscriber = "0.3"
rand = "0.8"
proptest = "1"

[[example]]
name = "prometheus_push_gateway"
required-features = ["push-gateway"]

[[example]]
name = "prometheus_server"
required-features = ["tokio-exporter"]
