[package]
name = "metrics-exporter-prometheus"
version = "0.3.0"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"

license = "MIT"

description = "A metrics-compatible exporter that serves a Prometheus scrape endpoint."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics-exporter-prometheus"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "telemetry", "prometheus"]

[features]
default = ["tokio-exporter"]
tokio-exporter = ["hyper", "ipnet", "tokio"]

[dependencies]
metrics = { version = "^0.14", path = "../metrics" }
metrics-util = { version = "^0.6", path = "../metrics-util" }
parking_lot = "0.11"
thiserror = "1.0"
quanta = "0.7"

# Optional
hyper = { version = "0.14", default-features = false, features = ["server", "tcp", "http1"], optional = true }
ipnet = { version = "2", optional = true }
tokio = { version = "1.0", features = ["rt", "net", "time", "macros"], optional = true }

[dev-dependencies]
quanta = "0.7"
tracing = "0.1"
tracing-subscriber = "0.2"
rand = "0.8"
