[package]
name = "metrics-util"
version = "0.3.1"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"

license = "MIT"

description = "Helper types/functions used by the metrics ecosystem."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics-util"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "quantile", "percentile"]

[[bench]]
name = "bucket"
harness = false

[[bench]]
name = "streaming_integers"
harness = false

[dependencies]
crossbeam-epoch = "^0.8"
serde = "^1.0"

[dev-dependencies]
crossbeam-utils = "^0.7"
criterion = "^0.2.9"
lazy_static = "^1.3"
rand = "^0.7"
