[package]
name = "metrics-util"
version = "0.6.2"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"

license = "MIT"

description = "Helper types/functions used by the metrics ecosystem."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics-util"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "quantile", "percentile"]

[lib]
bench = false

[[bench]]
name = "bucket"
harness = false

[[bench]]
name = "registry"
harness = false

[[bench]]
name = "prefix"
harness = false

[[bench]]
name = "filter"
harness = false

[[bench]]
name = "absolute"
harness = false

[dependencies]
metrics = { version = "^0.14", path = "../metrics", features = ["std"] }
crossbeam-epoch = { version = "0.9", optional = true }
crossbeam-utils = { version = "0.8", default-features = false, optional = true }
atomic-shim = { version = "0.1", optional = true }
aho-corasick = { version = "0.7", optional = true }
dashmap = { version = "4", optional = true }
indexmap = { version = "1.6", optional = true }
parking_lot = { version = "0.11", optional = true }
quanta = { version = "0.7", optional = true }
sketches-ddsketch = { version = "0.1", optional = true }
ordered-float = "2.0"
num_cpus = "1"
t1ha = "0.1"
hashbrown = "0.11"

[dev-dependencies]
approx = "0.4"
criterion = "0.3"
lazy_static = "1.3"
rand = { version = "0.8", features = ["small_rng"] }
rand_distr = "0.4"
getopts = "0.2"
hdrhistogram = { version = "7.2", default-features = false }
sketches-ddsketch = "0.1"
ndarray = "0.15"
ndarray-stats = "0.5"
noisy_float = "0.2"
pretty-bytes = "0.2"
tracing = "0.1"
tracing-appender = "0.1"
tracing-subscriber = { version = "0.2", default-features = false, features = ["fmt", "ansi"] }
crossbeam-queue = "0.3"
quickcheck = "1"
quickcheck_macros = "1"
textplots = "0.6"

[features]
default = ["std", "layer-filter", "layer-absolute"]
std = ["atomic-shim", "crossbeam-epoch", "crossbeam-utils", "dashmap", "indexmap", "parking_lot", "quanta", "sketches-ddsketch"]
layer-filter = ["aho-corasick"]
layer-absolute = ["aho-corasick", "parking_lot"]
