[package]
name = "metrics-tracing-context"
version = "0.4.0"
authors = ["MOZGIII <mike-n@narod.ru>"]
edition = "2018"

license = "MIT"

description = "A crate to use tracing context as metrics labels."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "tracing"]

[lib]
bench = false

[[bench]]
name = "visit"
harness = false

[[bench]]
name = "layer"
harness = false

[dependencies]
metrics = { version = "^0.16", path = "../metrics", features = ["std"] }
metrics-util = { version = "^0.7", path = "../metrics-util" }
tracing = "0.1"
tracing-core = "0.1"
tracing-subscriber = "0.2"
itoa = "0.4"

[dev-dependencies]
criterion = "0.3"
parking_lot = "0.11"
