[package]
name = "metrics-tracing-context"
version = "0.7.0"
authors = ["MOZGIII <mike-n@narod.ru>"]
edition = "2018"

license = "MIT"

description = "A crate to use tracing context as metrics labels."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "tracing"]

[lib]
bench = false

[[bench]]
name = "visit"
harness = false

[[bench]]
name = "layer"
harness = false

[dependencies]
itoa = "0.4"
metrics = { version = "0.17", path = "../metrics", features = ["std"] }
metrics-util = { version = "0.10", path = "../metrics-util" }
lockfree-object-pool = "0.1"
once_cell = "1.8"
tracing = "0.1"
tracing-core = "0.1"
tracing-subscriber = "0.2"

[dev-dependencies]
criterion = "0.3"
parking_lot = "0.11"
