name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Rust Nightly
      run: rustup default nightly
    - name: Check Formatting
      run: cargo fmt --all -- --check
  feature-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Protobuf Compiler
      run: sudo apt-get install protobuf-compiler
    - name: Install Rust Stable
      run: rustup default stable
    - name: Install cargo-hack
      run: cargo install cargo-hack
    - name: Check Feature Matrix
      run: cargo hack build --all --all-targets --feature-powerset
  test:
    name: Test ${{ matrix.rust_version }}/${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust_version: ['1.61.0', 'stable', 'nightly']
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Install Protobuf Compiler
      run: sudo apt-get install protobuf-compiler
    - name: Install Rust ${{ matrix.rust_version }}
      run: rustup default ${{ matrix.rust_version }}
    - name: Run Tests
      run: cargo test --all-features --workspace --exclude=metrics-observer
  docs:
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
    - uses: actions/checkout@v3
    - name: Install Protobuf Compiler
      run: sudo apt-get install protobuf-compiler
    - name: Install Rust Nightly
      run: rustup default nightly
    - name: Check Docs
      run: cargo doc --all-features --workspace --exclude=metrics-observer --no-deps
  bench:
    name: Bench ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Install Protobuf Compiler
      run: sudo apt-get install protobuf-compiler
    - name: Install Rust Stable
      run: rustup default stable
    - name: Run Benchmarks
      run: cargo bench --all-features --workspace --exclude=metrics-observer
