[package]
name = "metrics"
version = "0.12.1"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"

license = "MIT"

description = "A lightweight metrics facade."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "facade"]

build = "build.rs"

[package.metadata.docs.rs]
features = ["std"]

[[bench]]
name = "macros"
harness = false

[dependencies]
metrics-core = { path = "../metrics-core", version = "^0.5" }
metrics-macros = { path = "../metrics-macros", version = "^0.1" }
proc-macro-hack = "^0.5"

[dev-dependencies]
log = "^0.4"
criterion = "^0.2"

[features]
std = []
