[package]
name = "metrics"
version = "0.11.0"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
license = "MIT"
edition = "2018"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics"
description = """
A lightweight metrics facade for Rust
"""
categories = ["development-tools::debugging"]
readme = "README.md"
keywords = ["metrics", "facade"]
build = "build.rs"

[[bench]]
name = "macros"
harness = false

[dependencies]
metrics-core = { path = "../metrics-core", version = "^0.5" }

[dev-dependencies]
log = "^0.4"
criterion = "^0.2"

[package.metadata.docs.rs]
features = ["std"]

[features]
std = []
