[package]
name = "metrics"
version = "0.20.1"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"
rust-version = "1.56.1"

license = "MIT"

description = "A lightweight metrics facade."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "facade"]

build = "build.rs"

[lib]
bench = false

[[bench]]
name = "macros"
harness = false

[features]
default = ["std-atomics"]
std-atomics = []

[dependencies]
metrics-macros = { version = "^0.6", path = "../metrics-macros" }
ahash = { version = "0.7", default-features = false }
portable-atomic = "1.0"

[dev-dependencies]
log = "0.4"
criterion = { version = "0.3", default-features = false, features = ["html_reports", "cargo_bench_support"] }
rand = "0.8"
trybuild = "1"
