[package]
name = "metrics"
version = "0.14.2"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
edition = "2018"

license = "MIT"

description = "A lightweight metrics facade."
homepage = "https://github.com/metrics-rs/metrics"
repository = "https://github.com/metrics-rs/metrics"
documentation = "https://docs.rs/metrics"
readme = "README.md"

categories = ["development-tools::debugging"]
keywords = ["metrics", "facade"]

build = "build.rs"

[package.metadata.docs.rs]
features = ["std"]

[lib]
bench = false

[[bench]]
name = "macros"
harness = false

[[bench]]
name = "key"
harness = false

[dependencies]
metrics-macros = { version = "^0.2", path = "../metrics-macros" }
proc-macro-hack = "0.5"
t1ha = "0.1"

[dev-dependencies]
log = "0.4"
criterion = { version = "0.3", default-features = false, features = ["html_reports", "cargo_bench_support"] }
rand = "0.8"
trybuild = "1"

[features]
default = ["std"]
std = []
